.button {
  background-color: #ffffff;
  color: #db1c48;
  border: 1px solid #db1c48;
  font-size: 16px;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 25px;
  font-weight: 600;
}

.active-button {
  background-color: #db1c48;
  color: #ffffff;
  border: 0px;
}
